*,html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter',sans-serif;
}
body{
    background-color:#f4f4f4;
}
.logo-wrap{
    display: flex;
}
nav {
    background-color: blueviolet;
    display: flex;
    text-decoration: none;
}
nav ul{
    display: flex;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
}